@import '../../../assets/less/variables.less';

page {
  height: 100%;
  background: #f4f4f4;
}


.container{
  background:#fff;
  min-height:100vh;
}

.orders-switch {
  display: flex;
  align-items:center;
  padding-bottom:20px;
  max-height:50;
  box-sizing:border-box;
  padding-right:36px;
  overflow-y:hidden;
  .item {
    flex-shrink: 0;
    padding-bottom:15px;
    text-align: center;
    font-size:28px;
    color:#333;
    display:block;
    margin:0 36px;
  }
  .text{
    width:36px;
  }
  .active{
    border-bottom:4px solid @mainColor;
  }
}

.order_list{
  border-bottom:1px solid rgba(220,220,220,0.47);
  padding:32px 25px 44px 32px;
  .top{
    font-size:19px;
    color:#333;
    padding-bottom:25px;
    border-bottom:1px solid rgba(220,220,220,0.47);
  }
  .c{
    .img{
      width:155px;
      height:155px;
    }
    .at-icon-chevron-right{
      color:#BDBDBD;
    }
    .title{
      color:#333333;
      font-size:25px;
    }
    .color{
      color:#727272;
      font-size:21px;
      margin:14px 0;
    }
    .total{
      font-size:26px;
      color:#333;
    }
  }
}
